@import 'tailwindcss';
@plugin "daisyui";

*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Karla';
  src: url('/fonts/Karla-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 1 999;
  font-display: swap;
}

@font-face {
  font-family: 'Markazi Text';
  src: url('/fonts/MarkaziText-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 1 999;
  font-display: swap;
}

@theme {
  --color-green: #495e57;
  --color-yellow: #f4ce14;
  --color-peach: #ee9972;
  --color-light-peach: #fbdabb;
  --color-light-gray: #edefee;
  --color-dark-gray: #333333;

  --font-body: 'Karla', sans-serif;
  --font-display: 'Markazi Text', serif;

  --lh-body: 1.5;
  --lh-display: 1.1;
  --lh-subtitle: 1.2;
  --lh-lead: 1.4;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-light-gray);
  color: var(--color-dark-gray);
}
